.About{
    background:linear-gradient( to right,rgba(0, 255, 255, 0.192) 50%,white 50% );
    height: 94vh;
}

.About .AboutInner{
    padding: 100px 60px 60px 60px;
    margin:auto;
    width: 60%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.385);
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.About .About1Half{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.About1Half div{
    display: flex;
    flex-direction: column;
}

.About1Half div a{
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}
.About1Half div a img{
    margin-right: 10px;
}

.About #profilePic{
    margin-bottom: 30px;
    aspect-ratio: 3/2;  
    border-radius: 30px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.522);  
}

/* 
.profile{
    position: relative;
} */

.picChange{
    position: relative;
    margin-top: -60px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.414);
    color: white;
    border: none;
    padding:5px 5%;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.picChange:hover{
    transform: scale(1.01);

}

.About h3{
    margin: 0px;
    font-weight: bolder;
    font-size: 25px;
}
.About h1{
    margin: 0px;
    color: blue;
}

.About .About1Half a{
    text-decoration:none;
    color: black;
    font-family: cursive;
    font-weight: 700;
}

.About .About1Half a:hover{
    color: red;
}


.About .detailsTopic{
    font-weight: bolder;
    font-size: 17px;
}

.About table h2{
    margin: 10px 0px 0px 0px;
}

.About tr td{
    width: 200px;
}

@media only screen and (max-width: 643px){
    .About .AboutInner{
        width: 70vw;
        flex-direction: column;
        padding-bottom: 150px;
        height: 60vh;
        
    }
    .About .About1Half{
        margin: 0;
        align-items: center;
    }
    .About .About1Half #profilePic{
        border-radius:  50% 50% 10px 10px;
    }
    .About1Half div{
        width: 90vw;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .About .About1Half a{
        /* display: none; */
        text-align: center;
        width: 120px;
    }

    .About2Half h1, h3{
        text-align: center;
    }
}