.About{
    background:linear-gradient( to right,rgba(0, 255, 255, 0.192) 50%,white 50% );
    height: 94vh;
}

.About .AboutInner{
    padding: 100px 60px 60px 60px;
    margin:auto;
    width: 60%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.385);
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.About .About1Half{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.About #profilePic{
    margin-bottom: 30px;
    aspect-ratio: 3/2;    
}

/* 
.profile{
    position: relative;
} */

.picChange{
    position: relative;
    margin-top: -60px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.414);
    color: white;
    border: none;
    padding:5px 5%;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.picChange:hover{
    transform: scale(1.01);

}

.About h3{
    margin: 0px;
    font-weight: bolder;
    font-size: 25px;
}
.About h1{
    margin: 0px;
    color: blue;
}

.About .About1Half a{
    text-decoration:none;
    color: black;
    font-family: cursive;
    font-weight: 700;
}

.About .About1Half a:hover{
    color: red;
}


.About .detailsTopic{
    font-weight: bolder;
    font-size: 17px;
}

.About table h2{
    margin: 10px 0px 0px 0px;
}

.About tr td{
    width: 200px;
}

@media only screen and (max-width: 643px){
    .About .AboutInner{
        width: 70vw;
        flex-direction: column;
        padding-bottom: 100px;
        /* height: 100%; */
        
    }
    .About .About1Half{
        margin: 0;
        align-items: center;
    }
    .About .About1Half img{
        border-radius: 50%;
    }
    .About .About1Half a,.About .About1Half h3{
        display: none;
    }
/* 
    .About2Half{
    } */
    .About2Half h1, h3{
        text-align: center;
    }
}