.NotFound{
    background: linear-gradient( to right,rgba(0, 255, 255, 0.192) 50%,white 50% );
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NotFound #formBtn{
    background-color: #00A4B3;
    color: white;
    border: none;
    padding: 7px 3px;
    font-weight: 700;
    border-radius: 5px;
    width: 40%;
    margin-left: 5%;
    margin-top: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: 1s;
}

.NotFound #formBtn:hover{
    transform: scale(1.05);
}
